.container{
    display: grid;
    grid-template-columns: 20% 80%;
}
.contacts{
    position: relative;
    padding-top: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgb(206, 200, 200);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}
.search-bar{
    margin-bottom: 25px;
    position: relative;
}
.search-icon{
    position: absolute;
    top: 9px;
    left: 9px;
}
.search-bar input{
    background-color: rgb(238, 240, 241);
    font-size: 16px;
    padding: 7px 7px 7px 30px;
    border-radius: 15px;
    outline: none;
    border: none;
}
.search-bar input:focus{
    outline: none;
    border: none;
}

.message-list{
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 15px;
    background-color: rgb(250, 249, 247);
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    border-bottom: 1px solid rgb(170, 167, 167);
}
.message-list:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.name-message{
    display: flex;
    flex-direction: column;
}
.option{
    z-index: 2;
    padding: 5px 5px 5px 5px;
}
.option:hover{
    border-radius: 50px;
    border: 1px solid black;
    color: red;
}
.option-show{
    position: absolute;
}
.logout-button{
    position: absolute;
    left: 80%;
    top: 87%;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}